{
  "env": {
    "client": {
      "presets": [
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "syntax-dynamic-import",
        "./bin/babel.js"
      ]
    },
    "server": {
      "presets": [
        [ "es2015" ],
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "dynamic-import-node",
        "./bin/babel.js"
      ]
    }
  }
}